* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/images/background.png);
    /* background-color: #4c6fbf; */

    background-size: cover;
    font-family: 'Poppins';
    color: white;
}



/* Navbar */

.nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    padding-top: 1%;
    position: absolute;
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-items a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1rem;
    color: white;
}

.company {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-icon {
    width: 50px;
    height: 50px;
}

.login-btn {
    border: none;
    width: 60px;
    height: 30px;
    text-align: center;
    border-radius: 10px;
    font-size: 1rem;
    /* background-color: blueviolet; */
    background-color: #00ACC1;
    cursor: pointer;
}


/* Home Section  */

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

.img1 {
    background-image: url(../assets/images/img1.png);
    background-size: cover;
    width: 600px;
    height: 600px;
}

@media screen and (max-width:768px){
    .nav{
        display: none;
    }
    
}