#login{
    height:100vh;
    background-image: url(../assets/images/background.png);
    background-size: cover;
}
.first{
    /* background-color: #4c6fbf; */
    /* background-color: #00ACC1; */
    
    position: relative;
    width:100vw;
    height:100vh;
}
.second{
    background-color: white;
    position:absolute;
    top:20vh;
    left:12vw;
    width:75vw;
    height:70vh;
    border-radius: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}
.admin , .doctor{
    padding: 100px;;
    /* background-color: #4c6fbf; */
    background-color: #00ACC1;
    border-radius: 20px;
}
.admin a, .doctor a{
    text-decoration: none;
}
@media  screen and (max-width:800px) {
    .second{
        flex-direction: column;
        border-radius: 100px;
    }
    .admin , .doctor{
        padding: 75px;
        border-radius: 20px;
    }
}
@media  screen and (max-width:600px) {
    .second{
        flex-direction: column;
        border-radius: 100px;
    }
    .admin , .doctor{
        padding: 50px;
        border-radius: 20px;
    }
}