#login{
    /* background-image: url(../assets/images/background.png); */
    height: 100vh;
}

.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: min-content; */
    /* background-color: white; */
    transform: translateY(20%);
}

.login-temp{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.login-user-btn{
    text-decoration: none;
    border: none;
    padding: 3%;
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
    width: fit-content;
    font-size: 1rem;
    text-align: center;
}

