<%- include("header") -%>

<section id="register-page">
    <form action="/admin-login" class="register-form">
        <input type="text" placeholder="Userid">
        <input type="password" required placeholder="Password">
        <input  type="submit" required value="Register">
    </form>
    
</section>



<%- include("footer") -%>