<%- include("header") -%>

<section id="admin-home">
<div class="admin-container">
    <div class="items">
        <div class="patient query">
            <a href="/register-patient">Patient Registration</a>
        </div>
        <div class="appointment query">
            <a href="/book-appointment">Book Appointment</a>
        </div>
    </div>
    <div class="items">
        <div class="enquiry query">
            <a href="/enquiry">Enquiry</a>
        </div>
        <div class="list query">
            <a href="/list">Admitted & Discharged List</a>
        </div>
    </div>
</div>
</section>


<%- include("footer") -%>