<%- include("header") -%>

<section id="adminlogin">
    <form action="/adminhome">
        <input type="text" placeholder="Userid">
        <input type="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
</section>

<%- include("footer") -%>