<%- include("header") -%>

<section id="adminlogin">
    <%- include("nav") -%>
    <div class="admin-container">
        <form action="/adminhome" method="post" class="form">
            <h3>Admin Login</h3>
            <input name="userid" type="text" placeholder="Userid">
            <input name="password" type="password" placeholder="Password">
            <input class="admin-btn" type="submit" value="Login">
            <a href="/adminregister">Register</a>
        </form>
    </div>
    
</section>



<%- include("footer") -%>