<%- include("header") -%>

<form action="/appointment" method="post">
    <h2 id="two">Appointment Form</h2>
    <div class="first">
        <input name="fname"  placeholder="Firstname" type="text" >
        <input name="lname" placeholder="Lastname" type="text">

    </div>
    <div class="first">
        <input name="mobile" for="num" placeholder="Contact" type="number" id="num">
    </div>
    <div class="first">
        <input name="age" id="age" placeholder="Age" type="number" for="age">
        <input name="gender" for="gen" placeholder="Gender" type="text" id="gen">
    </div>
    <div class="first">
        <input name="date" for="date_time" placeholder="datetime" type="date" id="date_time">
        <select name="problem" aria-placeholder="Select Problem">
            <option value="heart">heart</option>
            <option value="brain">brain</option>
            <option value="lungs">lungs</option>
            <option value="kidneys">kidneys</option>
            <option value="ENT">ENT</option>
            <option value="stomach">stomach</option>
            <option value="abdomin">abdomin</option>
            <option value="fever">fever</option>
            <option value="nerves problem">nerves problem</option>
            <option value="skin disease">skin disease</option>

        </select>
    </div>
    <input id="submit" type="submit" value="book apointment">
</form>



<%- include("footer") -%>