<%- include("header") -%>

<!-- <form action="/appointment" method="post">
    <h2 id="two">Appointment Form</h2>
    <div class="first">
        <input name="fname"  placeholder="Firstname" type="text" >
        <input name="lname" placeholder="Lastname" type="text">

    </div>
    <div class="first">
        <input name="mobile" for="num" placeholder="Contact" type="number" id="num">
    </div>
    <div class="first">
        <input name="age" id="age" placeholder="Age" type="number" for="age">
        <input name="gender" for="gen" placeholder="Gender" type="text" id="gen">
    </div>
    <div class="first">
        <input name="date" for="date_time" placeholder="datetime" type="date" id="date_time">
        <select name="problem" aria-placeholder="Select Problem">
            <option value="heart">heart</option>
            <option value="brain">brain</option>
            <option value="lungs">lungs</option>
            <option value="kidneys">kidneys</option>
            <option value="ENT">ENT</option>
            <option value="stomach">stomach</option>
            <option value="abdomin">abdomin</option>
            <option value="fever">fever</option>
            <option value="nerves problem">nerves problem</option>
            <option value="skin disease">skin disease</option>

        </select>
    </div>
    <input id="submit" type="submit" value="book apointment">
</form> -->


<section id="patient-reg">
    <%- include("nav") -%>
    <div class="patient-reg-container">
        <div class="registration-pic">
            <img style="transform: scaleX(-1);" src="assets/images/patient-registraion.png" alt="" srcset="">
        </div>
        <div class="registration-form">
            <div class="reg-title">
                <img src="assets/images/plus.png" alt="" srcset="">
                <h1>Appointment Registration</h1>
            </div>
                <form class="patient-form" action="/appointment" method="post">
                    <div class="patient-details"> 
                        <div class="pdetail">
                            <label>First Name</label><br>
                            <input name="fname" type="text">
                        </div>
                        <div class="pdetail" >
                            <label>Last Name</label><br>
                            <input name="lname" type="text">
                        </div>
                    </div>
                    <div class="patient-details"> 
                        <div class="pdetail">
                            <label>Mobile No</label><br>
                            <input name="mobile" type="text">
                        </div>
                        <div class="pdetail">
                            <label>Age</label><br>
                            <input name="age" type="text">
                        </div>
                    </div>
                    <div class="patient-details"> 
                        <div class="pdetail">
                            <label>Gender</label><br>
                            <input name="gender" type="text">
                        </div>
                        <div class="pdetail">
                            <label>Address</label><br>
                            <input name="address" type="text">
                        </div>
                    </div>
                    <div class="patient-details"> 
                        <div class="pdetail">
                            <label>Date</label><br>
                            <!-- <input name="address" type="text"> -->
                            <input name="date" for="date_time" type="date" id="date_time">
                        </div>
                        <div class="pdetail">
                            <label>Problem</label><br>
                            <input name="problem" type="text">
                        </div>
                    </div>
                    <div class="patient-details submit-btn">
                        <input type="submit" value="Register">
                    </div>
                   
                </form>

        </div>
    </div>
<script>
    
</script>

</section>


<%- include("footer") -%>