<%- include("header") -%>

<%- include("nav") -%>
<div class="admin-container">
    <div class="items">
        <div class="appointment query">
            <a href="/book-appointment">Appointment List</a>
        </div>
    </div>
    <div class="items">
        <div class="enquiry query">
            <a href="/enquiry">Surgeries</a>
        </div>
    </div>
</div>


<%- include("footer") -%>