<%- include("header") -%>

<section id="register-page">
    <%- include("nav") -%>
    <form action="/doctor" method="post" class="register-form">
        <input name="userid" type="text" placeholder="Userid">
        <input name="password" type="password" placeholder="Password">
        <input  type="submit" value="Register">
    </form>
    
</section>



<%- include("footer") -%>