<%- include("header") -%>

<section id="admin-home">
    <%- include("nav") -%>
<div class="admin-container">
    <div class="items">
        <div class="patient query">
            <img class="query-img" src="assets/images/patient-reg.png" alt="" srcset="">
            <a href="/appointment-list">Appointment List</a>
        </div>
    </div>
</div>

</section>



<%- include("footer") -%>