<%- include("header") -%>
<section id="register-page">


    <%- include("nav") -%>
           <div class="rows">
               <div class="picture">
                   <img src="assets/images/doctor.png">
               </div>
               <div class="registration">
                 <div class="icon">
                  <img src="assets/images/plus.png" class="plus">
                  <h2>Doctor Login</h2>
                 </div>
                  <div class="details">
                       <form action="/doctorhome" method="post">
                         <label for="username" class="label">Username</label><br>
                         <input type="text" id="username" name="userid" required><br><br>
                         <label for="password" class="label">Password</label><br>
                         <input type="password" id="password" name="password" required>
                         <br><br><br>
                         <input type="submit" id="submit" value="Login"><br>
                         <a href="/doctorregister" style="color: white; text-align: center;">don,t have an Account?Register</a>
                       </form>
                  </div>
               </div>
           </div>
       
   </section>

<%- include("footer") -%>