<%- include("header") -%>

<section id="register-page">
    <form action="/doctor-login" class="register-form">
        <input type="text" placeholder="Userid">
        <input type="password" placeholder="Password">
        <input  type="submit" value="Register">
    </form>
    
</section>



<%- include("footer") -%>