<%- include("header") -%>
<section id="docinfo">
    <%- include("nav") -%>
    <div class="total">
        <div class="column">
          <div class="matter">
            <img src="assets/images/profile.png" alt="profile" />
            <div>
              <p>Bharth tiwari</p>
              <p>Psychiatrists</p>
              <p class="id">ID:HM-UQ1zG</p>
            </div>
          </div>
          <div class="matter">
            <img src="assets/images/profile.png" alt="profile" />
            <div>
              <p>Deeraj singh</p>
              <p>Ophthalmologists</p>
              <p class="id">ID:HM-NHRgG</p>
            </div>
          </div>
          <div class="matter">
            <img src="assets/images/profile.png" alt="profile" />
            <div>
              <p>Hemath</p>
              <p>Neurologists</p>
              <p class="id">ID:HM-9NRJw</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="matter">
            <img src="assets/images/profile.png" alt="profile" />
            <div>
              <p>ManiKanta</p>
              <p>Cardiologists</p>
              <p class="id">ID:HM-SIUw6</p>
            </div>
          </div>
          <div class="matter">
            <img src="assets/images/profile.png" alt="profile" />
            <div>
              <p>Jagadesh</p>
              <p>Dermatologists</p>
              <p class="id">ID:HM-98Kdu</p>
            </div>
          </div>
          <div class="matter">
            <img src="assets/images/profile.png" alt="profile" />
            <div>
              <p>Nivas Reddy</p>
              <p>Endocrinologists</p>
              <p class="id">ID:HM-tvJz2</p>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="matter">
            <img src="assets/images/profile.png" alt="profile" />
            <div>
              <p>Rajeev tholeti</p>
              <p>Gastroenterologists</p>
              <p class="id">ID:HM-Sm0Rd</p>
            </div>
          </div>
          <div class="matter">
            <img src="assets/images/profile.png" alt="profile" />
            <div>
              <p>Sarath chandra</p>
              <p>Gastroenterologists</p>
              <p class="id">ID:HM-yJejo</p>
            </div>
          </div>
          <div class="matter">
            <img src="assets/images/profile.png" alt="profile" />
            <div>
              <p>Sai Teja</p>
              <p>Hematologists</p>
              <p class="id">ID:HM-il7bN</p>
            </div>
          </div>
        </div>
      </div>
</section>


<%- include("footer") -%>