<%- include("header") -%>



<section id="enq-sec">
    <%- include("nav") -%>
    <div class="enquiry-form">
        
        <form class="enq-search" action="/enquiry" method="post">
            <div>
                <label for="">Name</label><br>
                <input type="text" name="fname">
            </div>
            <div>
                <input class="search-btn" type="submit">
            </div>
            
           
            
        </form>
        
    </div>
</section>






<%- include("footer") -%>