<%- include("header") -%>
<%- include("nav") -%>


<div class="enquiry-form">
    <form action="/enquiry" method="post">
        <input type="text" name="fname" placeholder="name">
        <input type="text" name="address" placeholder="address">
        <input type="submit">
    </form>
</div>



<%- include("footer") -%>