
<%- include("header") -%>

<section id="home">
    <div class="nav">
        <div class="company">
        <img class="home-icon" src="assets/images/icon.png" alt="" srcset="">
         <h3>Admit</h3>
        </div>
        <div class="nav-items">
           
                <a href="/">Home</a>
                <a href="/doctorinfo">Doctors Information</a>
                <a href="/support">Help & Support</a>
                <a href="/contact">Contact</a>
                <a class="login-btn" href="/login">Login</a>
        </div>
        
    </div>

    <div class="home">
        <div class="info">
          <p>Admit Hospital</p>  
            <p>Services</p>
        </div>
        <div class="img1">

        </div>
    </div>
    
</section>



   

    <%- include("footer") -%>