<%- include("header") -%>

<section id="login">
    <%- include("nav") -%>
    <div class="first"> </div>
    <div class="second">
     <div class="admin">
       <a href="/admin-login" style="color: white;">Admin</a>
     </div>
     <div class="doctor">
       <a href="/doctor-login" style="color: white;">Doctor</a>
     </div>
   </div>
    

</section>

<%- include("footer") -%>