<%- include("header") -%>

<section id="login">
    <%- include("nav") -%>
    <!-- <div class="first"> </div> -->
    <div class="second">
     <div class="admin">
       <img src="assets/images/admin.png" alt="" srcset="">
       <a href="/admin-login" style="color: white;">Admin</a>
     </div>
     <div class="doctor">
      <img src="assets/images/doc-log.png" alt="" srcset="">
       <a href="/doctor-login" style="color: white;">Doctor</a>
     </div>
   </div>
    

</section>

<%- include("footer") -%>