<%- include("header") -%>

<section id="login">
    <%- include("nav") -%>
    <div class="login-container">
        <div class="admin-login login-temp">
            <a class="login-user-btn" href="/admin-login" >Admin Login</a>
        </div>
        <div class="doctor-login login-temp">
            <a class="login-user-btn" href="/doctor-login">Doctor Login</a>
        </div>
    </div>
    

</section>

<%- include("footer") -%>