<%- include("header") -%>
<div class="nav">
    <div class="company">
    <img class="home-icon" src="assets/images/icon.png" alt="" srcset="">
     <h3>Admit</h3>
    </div>
    <div class="nav-items">
       
            <a href="/">Home</a>
            <a href="/doctorinfo">Doctors Information</a>
            <a href="/support">Help & Support</a>
            <a href="/contact">Contact</a>   
            <!-- <button class="login-btn"><a href="/login">Log In</a> </button> -->
            
    </div>
    
</div>


<%- include("footer") -%>