<%- include("header") -%>


<!-- <form action="/patient" method="post">
    <h2 id="two">Patient Registration Form</h2>
        <input name="fname" placeholder="Firstname" type="text">
        <input name="lname" placeholder="Lastname" type="text">
        <input name="mobile" placeholder="Contact" type="text">
        <input name="age" placeholder="Age" type="text">
        <input name="gender" placeholder="Gender" type="text" > 
        <input name="bloodgroup" placeholder="Blood group" typr="text">
        <input name="address" placeholder="Address" type="text">
        <input name="problem" placeholder="Problem" type="text">
        <input type="submit" value="register">
</form> -->

<section id="patient-reg">
    <%- include("nav") -%>
    <div class="patient-reg-container">
        <div class="registration-pic">
            <img style="transform: scaleX(-1);" src="assets/images/patient-registraion.png" alt="" srcset="">
        </div>
        <div class="registration-form">
            <div class="reg-title">
                <img src="assets/images/plus.png" alt="" srcset="">
                <h1>Patient Registration</h1>
            </div>
                <form class="patient-form" action="/patient" method="post">
                    <div class="patient-details"> 
                        <div class="pdetail">
                            <label>First Name</label><br>
                            <input name="fname" type="text">
                        </div>
                        <div class="pdetail" >
                            <label>Last Name</label><br>
                            <input name="lname" type="text">
                        </div>
                    </div>
                    <div class="patient-details"> 
                        <div class="pdetail">
                            <label>Mobile No</label><br>
                            <input name="mobile" type="text">
                        </div>
                        <div class="pdetail">
                            <label>Age</label><br>
                            <input name="age" type="text">
                        </div>
                    </div>
                    <div class="patient-details"> 
                        <div class="pdetail">
                            <label>Gender</label><br>
                            <input name="gender" type="text">
                        </div>
                        <div class="pdetail">
                            <label>Blood Group</label><br>
                            <input name="bloodgroup" type="text">
                        </div>
                    </div>
                    <div class="patient-details"> 
                        <div class="pdetail">
                            <label>Address</label><br>
                            <input name="address" type="text">
                        </div>
                        <div class="pdetail">
                            <label>Problem</label><br>
                            <input name="problem" type="text">
                        </div>
                    </div>
                    <div class="patient-details submit-btn">
                        <input type="submit" value="Register">
                    </div>
                   
                </form>

        </div>
    </div>


</section>


<%- include("footer") -%>
